.namecard {
  @extend .card;

  margin: 0 auto;
  padding: $gutter;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$small-and-down} {
    flex-direction: column;

    .namecard__header {
      margin-bottom: $gutter * 2;

      &-name {
        font-size: 24px;
        text-align: center;
      }
    }

    .namecard__body {
      &-wrapper {
        padding-left: 0;
        border-left: none;
      }
    }
  }

  @media #{$medium-and-up} {

  }

  &__header {
    margin-bottom: $gutter * 4;
    padding-right: $gutter * 2;

    &-name {
      color: $color-brand;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: $gutter;
      text-align: center;
    }

    &-subtitle {
      font-weight: bold;
      text-align: center;
    }
  }

  &__body {
    min-width: 200px;
    overflow: hidden;

    &-wrapper {
      padding-left: $gutter * 2;
      border-left: 1px solid $color-line;
    }
  }

  &__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: $gutter/2;

    &--head {
      margin-bottom: $gutter * 2;
      color: $color-brand;

    }
  }
}
