$gutter: 15px;

$color-bg: color('grey', 'lighten-4');
$color-brand: color('deep-orange', 'base');
$color-border: color('grey', 'lighten-4');
$color-line: color('grey', 'lighten-2');
$color-hover: color('grey', 'lighten-4');
$color-text: color('grey', 'darken-2');
$color-text-light: color('grey', 'darken-1');
